
@{
    ViewData["Title"] = "About";
    ViewData["Acerca"] = "my-buttonActive";
}

    <h1 class="my-TitleAbout">Acerca De</h1>
<div class="my-AboutContent">
    <div class="my-AboutMapLeft">
        <h2>Ubicación</h2>
        <p> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. in voluptate velit esse cillu</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d177858.5017128534!2d-84.20788202139916!3d9.92106526462984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0e342c50d15c5%3A0xe6746a6a9f11b882!2sSan%20Jos%C3%A9%2C%20Costa%20Rica!5e0!3m2!1ses!2sec!4v1646639788879!5m2!1ses!2sec" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <button>Formulario de contacto <i class="fa-solid fa-address-card"></i></button>
        <p style="color:gray;">Lorem ipsum dolor sit amet, asdasecur sdasd Lorem ipsum dolor.</p>
    </div>
    <div class="my-AboutContentRight">
        <div>
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus voluptas?</p>
        </div>
        <div>
            <h3>Visión</h3>
            <p>Eligendi non quis exercitationemipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationemLorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus voluptas?</p>
        </div>
        <div>
            <h3>Dirección</h3>
            <p>Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus voluptas?</p>
        </div>
        <div>
            <h3>Medios De Contacto</h3>
            <p>LoremLorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationemLorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi non quis exercitationem culpa nesciunt nihil aut nostrum explicabo reprehenderit optio amet ab temporibus voluptas?</p>
        </div>
    </div>
</div>

