@{
    ViewData["Title"] = "Inicio";
    ViewData["Home"] = "my-buttonActive";
}

<main>
    <div class="my-mainContent">
        <div class="my-mainLeft">
            <img src="~/assets/images/logo-coopeagro.png" />
        </div>
        <div class="my-mainRight">
            <h1>Productos y servicios que ofrecemos</h1>
            <p>Puede consultar los productos y servicios que ofrecemos y realizar su orden de pedido en línea.</p>
            <a href="/Orders/Index">Orden de pedido <i class="fa-solid fa-list-check"></i></a>
        </div>

        <div class="my-mainText">
            <hr color="black" />
            <p>"Las cooperativas escolares y juveniles son asociaciones voluntarias organizadas
            democráticamente y conformadas en su mayoría por estudiantes de centros
            educativos públicos o privados en los que se imparten cualquiera o todos los ciclos de
            la Educación General Básica y/o la Educación Diversificada. Se fundamentan en los
            artículos 24 y 25 de la Ley de la República N°4179 del 22 de agosto de 1968 y sus
            reformas y la Ley N° 6437 del 30 de abril de 1980."</p>
            <hr color="black" />
            <p>"Definición de Cooperativas Escolares.
            La Cooperativa escolar es la asociación voluntaria de personas integrada
            mayoritariamente por estudiantes de centros educativos en los que se imparta
            cualquiera o todos los ciclos de la Educación General Básica y/o la Educación
            Diversificada, con una finalidad primordialmente educativa orientada para que éstos se
            familiaricen con las prácticas de ayuda mutua, a tomar sus propias decisiones, a
            trabajar en equipo, a ser sociales, a ser respetuosos de los derechos de otras
            personas y en suma, que constituya un medio coadyuvante a la formación integral de su
            personalidad."</p>
            <hr color="black" />
            <img src="~/assets/images/valores-coopeagrocreativa.jpeg" />
        </div>
    </div>
</main>