@{
    ViewData["Title"] = "Inicio";
    ViewData["Home"] = "my-buttonActive";
}

<main>
    <div class="my-mainContent">
        <div class="my-mainLeft">
            <img src="~/assets/images/logo-coopeagro.png" />
        </div>
        <div class="my-mainRight">
            <h1>Productos y servicios que ofrecemos</h1>
            <p>Puede consultar los productos y servicios que ofrecemos y realizar su orden de pedido en línea</p>
            <a href="/Orders/Index">Orden de pedido <i class="fa-solid fa-list-check"></i></a>
        </div>
    </div>
</main>