@using CooperativaAgroCreativa.Models.DB
@model IEnumerable<Product>
@{
    ViewData["Productos"] = "my-buttonActive";
    ViewData["Title"] = "Productos";
}

<div class="container">
    <h1 class="text-center my-4">Catálogo de productos</h1>
    <a href="/Products/Create">Agregar producto</a>
    <div class="container">
  <div class="row">
    <div class="col-12">
        <table class="table table-bordered" style="text-align: right;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
    @foreach (var producto in Model)
    {
    <tr>
        <th scope="row">@producto.Id</th>
        <td>@producto.Quantity</td>
        <td>¢@producto.UnityPrice</td>
        <td>
            <a href="/Products/Edit/@producto.Id" class="btn btn-success">Editar <i class="fas fa-edit"></i></a>
            <a href="/Products/Delete/@producto.Id" class="btn btn-danger">Eliminar <i class="far fa-trash-alt"></i></a>
        </td>
    </tr>
    }
    </tbody>
      </table>
      <div style="display: flex; align-items: center; justify-content: center; margin: 2rem auto;">
          <a class="btn" style="background-color: #f76540; border: #f76540 1px solid; color: white;" href="/Services/Admin"><h1>Editar servicios</h1></a>
      </div>
    </div>
  </div>
</div>
</div>
