@{
    ViewData["Productos"] = "my-buttonActive";
    ViewData["Title"] = "Productos";
}

<div class="My-ProductsContainer">
    <h1 class="text-center my-4">Agregar Producto</h1>
    <form action="/Products/CreatePost" method="post" class="my-EditForm">
        <label>Descripción</label>
        <textarea required width="300" height="250" name="Description"></textarea>

        <label for="Quantity">Cantidad</label>
        <input required name="Quantity" type="number"/>

        <label for="UnityPrice">Precio Por Unidad</label>
        <input required name="UnityPrice" type="number"/>

        <label for="State">Estado</label>
        <input required name="State" type="number"/>

        <input class="my-submitForm" type="submit" value="Confirmar"/>
    </form>
</div>
