@using CooperativaAgroCreativa.Models.DB
@model Product
@{
    ViewData["Productos"] = "my-buttonActive";
    ViewData["Title"] = "Productos";
}

<div class="My-ProductsContainer">
    <h1 class="text-center my-4">Editar el producto @Model.Id</h1>
    <form action="/Products/EditPost" method="post" class="my-EditForm">
        <label>Descripción</label>
        <textarea name="Description">@Model.Description</textarea>

        <input type="hidden" name="Id" value=@Model.Id />

        <label for="Quantity">Cantidad</label>
        <input name="Quantity" type="number" value=@Model.Quantity />

        <label for="UnityPrice">Precio por unidad</label>
        <input name="UnityPrice" type="number" value=@Model.UnityPrice />

        <label class="mt-0" for="State">Estado (<p class="text-center" style="color:gray; font-size: .8rem; display: inline;">0 es <b>activo</b>, y 1 es <b>inactivo</b></p>)</label>
        <input required name="State" min="0" max="1" type="number" value=@Model.State />

        <div style="margin: 1rem auto;display: flex; align-items: center; justify-content: space-around;">
            <input type="checkbox" value="0" id="Size" name="Size"/>
            <label for="Size">¿La talla es válida en este producto?</label>
        </div>

        <input class="my-submitForm" type="submit" value="Confirmar"/>
    </form>
    <form class="my-FormImage" action="/Products/EditImage" enctype="multipart/form-data" method="post">
    <h2 class="text-center">Cambiar imagen</h2>
        <input type="file" name="Foto"/>
        <input type="hidden" value=@Model.Id name="Id"/>
        <input class="my-submitForm" type="submit" value="cambiar foto"/>
    </form>
</div>
