@using CooperativaAgroCreativa.Models.DB
@model Product
@{
    ViewData["Productos"] = "my-buttonActive";
    ViewData["Title"] = "Productos";
}

<div class="My-ProductsContainer">
    <h1 class="text-center my-4">Editar el producto @Model.Id</h1>
    <form action="/Products/EditPost" method="post" class="my-EditForm">
        <label>Descripción</label>
        <textarea name="Description">@Model.Description</textarea>

        <input type="hidden" name="Id" value=@Model.Id />

        <label for="Quantity">Cantidad</label>
        <input name="Quantity" type="number" value=@Model.Quantity />

        <label for="UnityPrice">Precio por unidad</label>
        <input name="UnityPrice" type="number" value=@Model.UnityPrice />

        <label for="State">Estado</label>
        <input name="State" type="number" value=@Model.State />

        <label for="Sizes">Talla valida <span style="color: gray;">(0 es no aplica, y 1 es si aplica.)</span></label>
        <input name="Sizes" type="number" value=@Model.Sizes />

        <input class="my-submitForm" type="submit" value="Confirmar"/>
    </form>
    <form class="my-FormImage" action="/Products/EditImage" enctype="multipart/form-data" method="post">
    <h2 class="text-center">Cambiar imagen</h2>
        <input type="file" name="Foto"/>
        <input type="hidden" value=@Model.Id name="Id"/>
        <input class="my-submitForm" type="submit" value="cambiar foto"/>
    </form>
</div>
