@using CooperativaAgroCreativa.Data
@using CooperativaAgroCreativa.Models.DB
@model IEnumerable<OrdersCreated>
@{
    ViewData["Title"] = "Orders";
    ViewData["Ordenar"] = "my-buttonActive";
}

<h1 class="text-center my-4">Administrador de órdenes de pedido</h1>

@if(Model.Any())
{
    <h2 class="my-4">Ordenes nuevas:</h2>
    <table class="table table-bordered my-tableOrder">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Fecha de ingreso</th>
                <th scope="col">Ver orden</th>
                <th scope="col">Confirmar</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.Date</td>
                <td><a href="/">Ver orden completa</a></td>
                <td class="d-flex">
                    <form method="post" action="/Orders/AceptedOrder">
                        <input type="hidden" name="Id" value=@order.Id />
                        <button type="submit" class="btn btn-info">Aceptar</button>
                    </form>
                    <form method="post" action="/Orders/RechazedOrder">
                        <input type="hidden" name="Id" value=@order.Id />
                        <button type="submit" class="ml-2 btn btn-danger">Rechazar</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
} else
{
    <h5 style="color:gray;" class="text-center">No hay compras pendientes!</h5>
}