@using CooperativaAgroCreativa.Data
@using CooperativaAgroCreativa.Models.DB
@model IEnumerable<Product>
@{
    ViewData["Title"] = "Ordenes";
    ViewData["Ordenar"] = "my-buttonActive";
}
<div>
<h1 class="text-center my-4">Productos agregados</h1>
  
@if(ViewBag.HayValores)
{
    <div>
        <table class="table my-tableResponsive table-bordered"  style="text-align: right;">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Talla</th>
            <th scope="col">Cantidad agregada</th>
            <th scope="col">Precio unidad</th>
            <th scope="col">Precio total por producto</th>
          </tr>
        </thead>
        <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td> @producto.Id </td>
                <td> @producto.Description </td>
                <td> @producto.Quantity </td>
                <td> ¢@producto.UnityPrice </td>
                <td> ¢@(Int32.Parse(producto.UnityPrice) * producto.Quantity) </td>
            </tr>
        }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"><h3>Cantidad a pagar:</h3></td>
                <td class="text-center"><h3>¢@ViewData["TotalPrice"]</h3></td>
            </tr>
        </tfoot>
        </table>
        <div class="my-SubmitOrderContainer">
            <p class="text-center">Al dar click en este boton se generara tu orden de compra en un pdf, la cual debes llevar a la sucursal más cercana de la Cooperativa AgroCreativa.</p>
            <form method="post" action="/Orders/Finished">
                <input type="submit" class="My-buttonProducts" value="Generar Pedido" />
            </form>
        </div>
        </div>
    } else {
    <div>
        <p class="text-center">Todavía no creaste ninguna orden de compra!, para agregar productos, da <a href="/Products/Index">click aquí</a></p>
    </div>
    }
</div>