@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<div style="display: flex; align-items: center; flex-direction:column; justify-content: center;">
    <h1 class="text-danger text-center">Acceso denegado</h1>
    <p class="text-danger text-center">Usted no cuenta con el rol adecuado para acceder a esta información, porfavor, verifica tu rol, y vuelve a intentar.</p>
    <img src="~/assets/images/access-denied.png" />
</div>

